
<mat-toolbar style="background-color: white;">
    <mat-toolbar-row>
        <img src="/assets/logo.png" />
        <h3 style="padding-left: 10px;"> Modernize </h3>
        <span class="space"></span>
        <mat-icon class="icon mr-20">chat</mat-icon>
        <mat-icon class="icon">notifications</mat-icon>
        <span matBadgeSize="small" matBadge="5" matBadgeOverlap="true" class="noti-badge mr-20"></span>
        <img src="/assets/avatar.jpg" class="avatar"/>
        <span class="icon"> X’eriya Ponald </span>
        <mat-icon class="icon">keyboard_arrow_down</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
